<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    
</head>

    <body class="body">
    
     <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar header">
                WELCOME TO THE BESTCAR DEALERSHIP OFFICIAL WEBSITE
        </div>
     </nav>
     
     <div class="container-fluid">
        <table class="table">
            <tr>
                <th>Car</th>
                <th>Style</th>
                <th>Range</th>
                <th>Transmission</th>
                <th>Price range (Kshs)<th>
            </tr>
            <tr>
                <th>Tata</th>
                <th>Compact SUV</th>
                <th>312 Km/Full Charge</th>
                <th>Automatic</th>
                <th>13.99 M</th>
            </tr>
            <tr>
                <th>Hyundai Grand i10 Nios</th>
                <th>Compact Hatchback</th>
                <th>20.2 - 26.2 Km/l</th>
                <th>AMT, Maual</th>
                <th>5.3 M</th>
            </tr>
            <tr>
                <th>Maruti Suzuki Alto 800</th>
                <th>Entry Hatchback</th>
                <th>24.7 - 31.39 Km/l</th>
                <th>Maual</th>
                <th>3.39 M</th>
            </tr> 
            <tr>
                <th>Tata Punch</th>
                <th>Compact SUV</th>
                <th>N/A</th>
                <th>AMT, Maual</th>
                <th>5.83 M</th>
            </tr>      
         </table>
     </div>     

    </body>
    <hr>
    <footer id="footer">
        &copy; 2023 - Developed by <a href="https://github.com/bkimuma">bkimuma</a>
    </footer>

</html>
